In [3]:
import sqlite3
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sqlalchemy import create_engine

%matplotlib inline

In [4]:
# load data from database
engine = create_engine('sqlite:///InsertDatabaseName.db')

# connect to the database
conn = sqlite3.connect('DisasterResponse.db')

# run a query
df = pd.read_sql('SELECT * FROM InsertTableName', conn)

DatabaseError: Execution failed on sql 'SELECT * FROM InsertTableName': no such table: InsertTableName